.profile__about {
    display: flex;

    margin-bottom: 20px;
}

.preloader__container {
    width: 150px;
    height: 150px;

    position: relative;
    left: 50%;

    transform: translateX(-50%);
}